h1, h2, h3, h4, h5, p { font-family:    "helvetica" }
h3 { color:			#444444 }
li { font-family:    "helvetica" }
ul { font-size:		small }

h4 { 
	color:			#444444;
	font-size: small
}

body {
    width:  		80%;
    margin-left:    10%;
    margin-right:   10%;
    margin-top:     4em;
    background-color: #dedede
}

div.blocky {
	width:			50%;
	background:		white;
	padding:		2em;
	display:		table-cell
}

div.row {
	width:			50%;
	background-color: white;
	padding:		2em;
	display:		table-row
}

span.citem {
	display:		table-cell;
	text-align:		center
}



.user-interface, .core, .system-integration, .communication, .multimedia, .data-storage, .utilities, .desktop-integration  {
  background: #888a85;
  -moz-border-radius: 5px;
  color: #2e3436;
  margin-bottom: 10px;
}

.multimedia, .data-storage, .communication {
  height: 180px;
}

.core {
  height: 72px;
}

a {
  background: #babdb6;
  display: inline-block;
  padding: 5px 10px;
  -moz-border-radius: 3px;
  text-decoration: none;
  color: #000;
  margin: 5px;
  width: 80px;
}

p {
  padding-left: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}
