/* Text Formatting */

div.code {
	background-color:	#e0e0e0;
	color:			#000000;
	white-space:		pre;
	font-family:		monospace;
	margin:			20px 20px 5px 10px;
	padding:		10px;
}

/* #sidebar
{
    position: fixed;
}
*/
